<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/newLayout.css' />
    <script src='/javascripts/toggleView.js'></script>
    <script src='/javascripts/localStorage.js'></script>
  </head>
  <body>

    <header id="header">
      <%- include('./common/header') %>
    </header>

    <main id="main">
      <%- include('./home/index') %>
      <%- include('./stats/index') %>
    </main>
    
    <footer id="footer">
      <%- include('./common/footer') %>
    </footer>

    <!-- <div class="grass-container"></div> -->

    <script src='/javascripts/main.js'></script>
    <script src="/assets/main.bundle.js"></script>
  </body>
</html>

